langchain==0.0.284
git+https://github.com/shroominic/codeinterpreter-api.git
streamlit==1.26.0

openai==0.28.0
tiktoken==0.4.0
wolframalpha==5.0.0

requests==2.31.0
beautifulsoup4==4.12.2
faiss-cpu==1.7.4
