langchain==0.0.325
git+https://github.com/shroominic/codeinterpreter-api.git
streamlit==1.28.0

openai==0.28.0
tiktoken==0.4.0
wolframalpha==5.0.0
# pypdf==3.16.0  # textbook embedding

requests==2.31.0
beautifulsoup4==4.12.2
faiss-cpu==1.7.4
